/* Banner design */
.banner {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,36,61,0.4) 100%), url('../../images/pexels-photo-279607.jpeg');
  background0-size: contain;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.banner h1 {
  font-size: 60px;
  font-weight: 600;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 40px;
}
