/* Footer design */
.social {
  color: #CDCDCD;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social i {
  font-size: 30px;
}

.social p {
  font-size: 15px;
  margin: 0;
}

.padded-footer {
  padding: 50px 0;
}
