<div class="wrapper-dark">
  <div class="container padded-footer text-center">
    <div class="social">
      <ul class="list-inline">
        <li>
          <% link_to "https://www.youtube.com" do %>
            <i class="fa fa-youtube"></i>
          <% end %>
        </li>
        <li>
          <% link_to "https://www.instagram.com" do %>
            <i class="fa fa-instagram"></i>
          <% end %>
        </li>
        <li>
          <% link_to "https://www.facebook.com" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>
        <li>
          <% link_to "https://www.twitter.com" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>
      </ul>
      <p>This is an Airbnb Home challenge @ LeWagon</p>
    </div>
  </div>
</div>
