<div class="container text-center padded">
  <div class="row">
    <div>
      <h3>Get news from us</h3>
      <p>Leave us your email and get news from us</p>
      <form action="#" class="form-inline">
        <input type="email" id="email" placeholder="example@gmail.com" class="form-control">
        <input type="submit" value="register" class="btn btn-primary btn-margin">
      </form>
    </div>
  </div>
</div>
